:root {
  --bs-success-rgb: 71, 222, 152 !important;
}

html,
body {
  height: auto;
  width: auto;
  font-family: "Poppins", sans-serif;
}

.btn-info.text-light:hover,
.btn-info.text-light:focus {
  background: #000;
}
table,
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #ededed !important;
  border-style: solid;
  border-width: 1px !important;
}
.title {
  font-size: 1.5rem;
}
